<navbar class="navBar">
    <a href="/">Lab Track</a>
    <ul class="navLinks">
        <li><a href="/">Lab</a></li>
        <li><a href="#">Add Lab</a></li>
        <li><a href="#">View Lab</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</navbar>